* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header {
	background-color: #5cc1db;
	height: 205px;
	padding: 0px;
}
.logo{
	border:none;
	background-color: #5cc1db;
	padding:0px 0px;
}
.about {
	position: absolute;
	top: 80px;
	right: 190px;
	background-color: #5cc1db; 
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 32px;
}

.adventures {
	position: absolute;
	top: 80px;
	right: 310px;
	background-color: #5cc1db; 
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 32px;
}


.blog {
	position: absolute;
	top: 80px;
	right: 510px;
	background-color: #5cc1db; 
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 32px;
}

.carousel-container{
	width: 75%;
	margin: auto;
	border: 30px green;
}

.carousel-slide{
	display: flex;
}